* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  
    
  }

  body{
    background-image: url(/image/jugger.png);
    background-size: cover;
  }

  .navbar h1 {
    height: 200px;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .submit {
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

  }

  .submit h3 {
    margin: 20px;
    color: white;
  }

  .submit p {
    color: white;
  }

  button {
    width: 60px;
    color: black;
  }