<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css"/>
    <title>Document</title>
</head>
<body>
    <div class="navbar"><h1>WELCOME PLAYER</h1></div>
    <div class="submit">
            <h3>LOGIN</h3>
        <form action="/loginGate" method="get">
            <label for="name"><p>Username:</p></label>
            <input type="text" id="name" name="name"><br><br>   
            <label for="password"><p>Password:</p></label>
            <input type="password" id="password" name="password"><br><br>
            <input type="checkbox" id="checkbox" name="checkbox" onclick="showPass()"> showpass<br><br>
            <button>submit</button>
          </form> 

    </div>

    <script>
        function showPass() {
            const pass = document.getElementById('password')
            if(document.getElementById('checkbox').checked) 
            {
                pass.setAttribute('type', 'text') 
            } else {
                pass.setAttribute('type', 'password')
            }
                
         
        }

        
    </script>
</body>
</html>